*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 23px;
    margin-bottom: 50px;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.section-page {
    margin-bottom: 100px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.header__search {
    position: relative;
}

.header__input {
    font-family: 'Roboto', sans-serif;
    padding: 13px 20px;
    background: rgba(238, 238, 238, 0.71);
    border-radius: 10px;
    border: none;
    width: 620px;
    outline: none;
    font-size: 16px;
    line-height: 23px;
    color: #57565B;
}

.header__input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: #57565B;
}

.header__search::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url("../images/search-icon.svg");
    right: 18px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__link {
    display: inline-block;
    padding: 16px 30px;
    background: #EBEBEB;
    border-radius: 50px;
}

.header__btn-inner {
    position: relative;
}

.header__btn {
    width: 49px;
    height: 49px;
    padding: 0;
    border-radius: 50%;
    border: none;
    background: #F66A15;
    margin-left: 30px;
    background-image: url("../images/cart-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.header__btn-count {
    font-size: 8px;
    line-height: 9px;
    position: absolute;
    width: 18px;
    height: 18px;
    background: #FFAF19;
    border-radius: 50%;
    right: 0;
    bottom: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider__item {
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding-left: 100px;
    padding-top: 75px;
}

.slider__item-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 51px;
    max-width: 406px;
    margin-bottom: 15px;
}

.slider__item-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    max-width: 390px;
    margin-bottom: 32px;
}

.slider__item-link {
    background: #F47322;
    border-radius: 25px;
    padding: 12px 52px 13px;
    text-align: center;
    transition: all .5s;
}

.slider__item-link:hover {
    background: #fff;
    color: #F37321;
}

.slick-btn {
    position: absolute;
    border: none;
    background: rgba(235, 235, 235, 0.7);
    border-radius: 50px;
    z-index: 1;
    width: 40px;
    height: 40px;
    bottom: 40px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-prev {
    right: 100px;
}

.slick-next {
    right: 45px;
}

.popular {
    padding-top: 50px;
}

.popular__inner {

    display: flex;
    justify-content: space-between;
}

.popular__item {
    background-repeat: no-repeat;
    width: 570px;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
    color: #fff;
}

.popular__item-title {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 20px;
}
.popular__item-text {
    width: 168px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}


.popular__item-cost {
    font-weight: 500;
    font-size: 24px;
    line-height: 23px;
    margin-bottom: 25px;
}

.popular__item-cost span{
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    margin-top: 8px;
}

.popular__item-btn {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #5F5F61;
    border-radius: 50px;
    background: #fff;
    padding: 13px 52px;
    border: none;
    cursor: pointer;
    transition: all .5s;
    border: 3px solid transparent;
}

.popular__item-btn:hover {
    border: 3px solid #5F5F61;
    border-radius: 50px;
}


.food-delivery__box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
}

.food-delivery__item {
    width: 275px;
    height: 182px;
    background-repeat: no-repeat;
    padding: 21px;
}

.food-delivery__item-title {
    display: inline-block;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    padding: 5px 10px;
    border-radius: 30px;
}

.categories {
    padding: 40px 0 60px;
    background: #F6F6F6;
}

/* .categories__inner {

} */

.categories__tab {
    font-size: 20px;
    line-height: 23px;
    color: #49494F;
}

.categories__tab--active {
    color: #F37321;
}

.categories__tab + .categories__tab{
    margin-left: 60px;
}

.categories__tabs-contentbox {
    padding: 60px 0;
}
.categories__tabs-content {
    display: flex;
    justify-content: space-between;
}
.categories__content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 471px;
    width: 270px;
    background-color: #fff;
    border-radius: 20px;
}

.categories__item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    width: 220px;
    margin: 21px auto 12px;
}
.categories__item-text {
    width: 220px;
    margin: 0 auto 36px;    
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #B9B9BE;
}

.categories__item-bottom {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.categories__item-cost {
    font-weight: 500;
    font-size: 23px;
    line-height: 23px;
    color: #4B4B51;
}

.categories__item-cost span{
    display: block;
    margin-top: 5px;
    font-size: 17px;
    line-height: 20px;
    color: #AAAAB1;
}

.categories__item-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 2px solid #F37321;
    border-radius: 33px;
    background-color: transparent;
    padding: 16px 25px 15px;
    color: #F37321;
}

.categories__link-inner {
    text-align: center;
}

.categories__link {
    color: #F37321;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 2px solid #F37321;
    padding: 16px 105px 15px;
    border-radius: 30px;
    transition: all .5s;
}

.categories__link:hover {
    background-color: #F37321;
    color: #fff;
}

.benefits__box {
    display: flex;
    justify-content: space-between;
}
.benefits__item {
    padding: 32px 15px 25px;
    text-align: center;
    border: 1px solid #E9E9E9;
    box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}

.benefits__item-title {
    padding: 34px 0 13px;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}
.benefits__item-text {
    width: 220px;
    color: #49494F;
}

.footer {
    margin-top: 200px;
    padding: 40px 0;
    background-color: #F6F6F6;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__list-link {
    text-decoration: underline;
    margin: 0 25px;
    font-size: 16px;
    line-height: 23px;
}

.footer__list,
.footer__social {
    display: flex;
}

.footer__solial-img {
    margin-left: 20px;
    width: 36px;
}